<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1a5ad85633.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mynav">
        <div id="mynavcont" class="container-fluid">
            <a class="navbar-brand" href="/">Útvonalmegosztó</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/routes/new">Új útvonal</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if (typeof errors !== "undefined") { %>
            <div class="alert alert-danger" role="alert">
                <% errors.forEach(function(err) { %>
                    <li><%= err %></li>
                <% }) %>
            </div>
        <% } %>